{% extends 'App/padre.html' %}

{% load static %}


{% block cambiante %}

{% if miFormulario.errors %}

<div class="alert alert-danger">
    <strong>ERROR!</strong> Los valores completados son incorrectos.
  </div>

{% endif %}
<form method="post">
    {% csrf_token %}

    
    <section class="vh-50 gradient-custom">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <div class="mb-md-5 mt-md-4 pb-5">
      
                    <h2 class="fw-bold mb-2 text-uppercase">Cambiar contraseña</h2>
                    <p class="text-white-50 mb-5">Por favor ingrese su antigua contraseña y su nueva contraseña</p>
      
                    <div class="form-outline form-white mb-4">
                        <input style="text-align: center;" type="password"  name="old_password" class="form-control form-control-lg" />
                        <label class="form-label" for="typePasswordX">Vieja contraseña</label>
                      </div>
                      <div class="form-outline form-white mb-4">
                        <input style="text-align: center;" type="password"  name="new_password1" class="form-control form-control-lg" />
                        <label class="form-label" for="typePasswordX">Nueva contraseña</label>
                      </div>
      
                    <div class="form-outline form-white mb-4">
                      <input style="text-align: center;" type="password"  name="new_password2" class="form-control form-control-lg" />
                      <label class="form-label" for="typePasswordX">Repetir nueva contraseña</label>
                    </div>
                    <button class="btn btn-outline-light btn-lg px-5" type="submit">Guardar cambios</button>
                    
      
                  </div>
      
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    
  </form>

    
    
{% endblock cambiante %}