{% extends 'App/padre.html' %}

{% load static %}


{% block cambiante %}


 
<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="background-image: url('https://img.freepik.com/foto-gratis/viejo-fondo-negro-textura-grunge-pizarra-pizarra-hormigon_1258-52289.jpg?t=st=1650730454~exp=1650731054~hmac=abf258992efc4eff843a5ac4cd9ab1ea56cd6f49870d5a9a40edb088badb72ad&w=1480')">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="/media/avatars/about.gif" width="250px" />
        <h1 class="text-white fs-3 fw-bolder">Salvador Husson</h1>
        <p class="text-white-50 mb-0"></p>
    </div>
</header>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Bienvenido a mi pagina!</h2>
                
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p class="mb-0"></p>
            </div>
        </div>
    </div>
</section>
<!-- Image element - set the background image for the header in the line below-->

<!-- Content section-->
{% endblock cambiante %}