{% extends 'App/padre.html' %}

{% load static %}


{% block cambiante %}
{% if miFormulario.errors %}


<div class="alert alert-danger">
  <strong>ERROR!</strong> Los valores completados son incorrectos.
</div>

{% endif %}
  <form action="" method="POST">{% csrf_token %}

        <article>
            <!-- Post header-->
            <section class=" gradient-custom">
                <div class="container py-3 h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card bg-dark text-white" style="border-radius: 1rem;">
                        <div class="card-body p-4 text-center">
            
                        <div class="mb-md-5 mt-md-4 pb-4">
                            
                        
                            <h2 class="fw-bold mb-2 text-uppercase">Edicion de perfil</h2>
                            <p class="text-white-50 mb-5">Por favor complete los solicitados!</p>
            
                            <div class="form-outline form-white mb-4">
                            <input type="text" name="first_name" class="form-control form-control-lg" />
                            <label class="form-label" for="typeEmailX">Nombre</label>
                            </div>
    
                            <div class="form-outline form-white mb-4">
                                <input type="text" name="last_name" class="form-control form-control-lg" />
                                <label class="form-label" for="typeEmailX">Apellido</label>
                            </div>
                            <div class="form-outline form-white mb-4">
                                <input type="email" name="email" class="form-control form-control-lg" />
                                <label class="form-label" for="typeEmailX">Email</label>
                            </div>
            
                            <div class="form-outline form-white mb-4">
                            <input type="password"  name="password1" class="form-control form-control-lg" />
                            <label class="form-label" for="typePasswordX">Contraseña</label>
                            </div>
                            <div class="form-outline form-white mb-4">
                                <input type="password"  name="password2" class="form-control form-control-lg" />
                                <label class="form-label" for="typePasswordX">Repetir Contraseña</label>
                            </div>
            
                            
            
                            <button class="btn btn-outline-light btn-lg px-5" type="submit">Guardar cambios</button>
            
                
            
                        </div>
            
            
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </section>
        </article>

    </form>

{% endblock cambiante %}

